.footer{
    margin-top: auto;
    background: #23262D;
    color: #fff;
    position: relative;

    @include bp(md){
        padding: 2.4rem 0 1rem;
    }

    &__container{
        padding-top: 7.3rem;
        position: relative;

        @include bp(sm){
            padding-top: 4.9rem;
        }
    }

    &__content{
        display: grid;
        grid-template-columns: 25.2% 40.1% auto;
        grid-gap: 3.5rem;

        @include bp(md){
            grid-template-columns: repeat(2, 1fr);
        }

        @include bp(sm){
            grid-template-columns: 100%;
        }
    }

    &__title{
        margin-bottom: 2.2rem;
    }

    &__info{
        @include bp(sm){
            display: flex;
            flex-direction: column;
            align-items: center;
            order: 2;
            text-align: center;
        }

        p{
            @include bp(sm){
                margin-top: 0.1rem;
            }
        }
    }

    &__logo{
        margin: 0.2rem 0 4.4rem 0.1rem;

        @include bp(sm){
            margin: 1rem 0 3.4rem;
        }
    }

    &__social-list{
        margin-top: 6.1rem;

        @include bp(sm){
            margin-top: 2.8rem;

            .social-list__link{
                margin: 0 0.5rem;
            }
        }
    }

    &__nav{
        padding-right: 10%;

        @include bp(lg){
            padding-right: 0;
        }

        @include bp(md){
            order: -1;
            grid-column: span 2;
        }

        @include bp(sm){
            grid-column: span 1;
        }
    }

    &-nav{
        @include bp(md){
            width: 45.5%;
        }

        @include bp(sm){
            width: 46.2%;
        }

        &__item{
            margin-bottom: 0.85rem;
        }
    }

    &__address{
        margin-bottom: 4.7rem;
        padding-top: 0.5rem;
        line-height: 100%;

        @include bp(sm){
            padding-top: 0.4rem;
        }

        .fake-select{
            margin: 0!important;
        }

        .fake-select__link{
            margin-bottom: 1rem;
        }
    }

    &__contacts{
        @include bp(sm){
            padding-top: 0.1rem;
        }

        p{
            margin-bottom: 0.2rem;
        }
    }

    &__phone{
        @include bp(lg){
            font-size: 2rem;
        }

        @include bp(sm){
            font-size: 3.6rem;
        }
    }

    &__bottom{
        padding: 3rem 0 2.8rem;
        border-top: 1px solid rgba(255, 255, 255, 0.30);
        margin-top: 3.6rem;

        @include bp(sm){
            margin-top: 3.4rem;
            flex-direction: column;
            text-align: center;
            gap: 1.5rem;
            padding-top: 3.4rem;
        }
    }
}

.social-list {
    &__link {
        margin-right: 1rem;
        width: 3.6rem;
        height: 3.6rem;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid $primary;

        @include bp(hv){
            &:hover{
                opacity: 0.7;
            }
        }
    }
}


.up-link{
    position: absolute;
    right: -7.4rem;
    width: 5.4rem;
    height: 5.4rem;
    top: -2.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 5;

    @include bp(sm){
        right: 2rem;
        bottom: 4.2rem;
        top: auto;
    }

    @include bp(hv){
        &:hover{
            &:after{
                background: darken($color: $primary, $amount: 10);
            }
        }
    }

    &:after, &:before{
        content: '';
        display: block;
        position: absolute;
        background: $primary;
    }

    &:after{
        z-index: 1;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        transition: all 0.3s ease-out;
        border-radius: 50%;
    }

    &:before{
        z-index: -1;
        top: 1rem;
        left: 1rem;
        right: 1rem;
        bottom: 1rem;
        background: linear-gradient(126deg, #B8D000 14.79%, #30384F 61.12%);;
        filter: blur(15px);

        @include bp(sm){
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
        }
    }

    .icon{
        position: relative;
        z-index: 2;
    }
}